header{
    margin: 80px;
    nav{
        ul{
            list-style: none;
            li{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
    }
}