<section>
    <section>
        <div>
            <img src="" alt="">
            <div>
                <p>Where : Paris, Ile-De-France</p>
                <p>Phone : <a href="tel:0779479151">07.79.47.91.51</a></p>
                <p>Email : <a href="mailto:huonroland91@gmail.com">huonroland91@gmail.com</a></p>
                <a href="https://www.linkedin.com/in/rolandhuon/"><img src="" alt="LinkedIn"></a>
                <a href="https://github.com/Roland-HUON"><img src="" alt="GitHub"></a>
            </div>
        </div>
    </section>
</section>