<section>
    <div class="languages">
        <h2>Languages</h2>
        <div>
            <img src="" alt="HTML5">
            <img src="" alt="CSS3">
            <img src="" alt="JavaScript">
            <img src="" alt="TypeScript">
            <img src="" alt="PHP">
            <img src="" alt="Python">
        </div>
    </div>
    <div class="frameworks">
        <h2>Frameworks & CMS</h2>
        <div>
            <img src="" alt="Angular">
            <img src="" alt="Vue">
            <img src="" alt="Symfony">
            <img src="" alt="WordPress">
        </div>
    </div>
    <div class="tools">
        <h2>Tools</h2>
        <div>
            <img src="" alt="GitHub">
            <img src="" alt="VSCode">
            <img src="" alt="Figma">
            <img src="" alt="Illustrator">
        </div>
    </div>
    <div class="soft-skills">
        <h2>Soft Skills</h2>
        <div>
            <p><img src="" alt="Teamwork image">Teamwork</p>
            <p><img src="" alt="Problem solving image">Problem solving</p>
            <p><img src="" alt="Adaptability image">Adaptability</p>
            <p><img src="" alt="Time management image">Time management</p>
        </div>
    </div>
</section>