<section class="skills-section">
    <div class="skills">
        <h2>Languages</h2>
        <div class="skills-img">
            <img src="../../assets/html.svg" alt="HTML5">
            <img src="../../assets/css.svg" alt="CSS3">
            <img src="../../assets/js.svg" alt="JavaScript">
            <img src="../../assets/typescript.svg" alt="TypeScript">
            <img src="../../assets/php.svg" alt="PHP">
            <img src="../../assets/python.svg" alt="Python">
        </div>
    </div>
    <div class="skills">
        <h2>Frameworks & CMS</h2>
        <div class="skills-img">
            <img src="../../assets/angular.svg" alt="Angular">
            <img src="../../assets/vue.svg" alt="Vue">
            <img src="../../assets/symfony.svg" alt="Symfony">
            <img src="../../assets/wordpress.svg" alt="WordPress">
        </div>
    </div>
    <div class="skills">
        <h2>Tools</h2>
        <div class="skills-img">
            <img src="../../assets/github.svg" alt="GitHub">
            <img src="../../assets/vs_code.svg" alt="VSCode">
            <img src="../../assets/figma.svg" alt="Figma">
            <img src="../../assets/illustrator.svg" alt="Illustrator">
        </div>
    </div>
</section>
<section class="skills-section bottom">
    <div class="soft-skills">
        <h2>Soft Skills</h2>
        <div class="soft-skills-img">
            <p><img src="" alt="Teamwork image">Teamwork</p>
            <p><img src="" alt="Problem solving image">Problem solving</p>
            <p><img src="" alt="Adaptability image">Adaptability</p>
            <p><img src="" alt="Time management image">Time management</p>
        </div>
    </div>
</section>