<header>
  <nav>
    <ul>
      <a class="navbar-pages"
         routerLink=""
         routerLinkActive="activebutton"
         ariaCurrentWhenActive="page">
          <li>
            <img src="../assets/home.svg" alt="home icon">
            <h3>Home</h3>
          </li>
      </a>
      <a class="navbar-pages"
         routerLink=""
         routerLinkActive="activebutton"
         ariaCurrentWhenActive="page">
          <li>
            <img src="../assets/about.svg" alt="about icon">
            <h3>About</h3>
          </li>
      </a>
      <a class="navbar-pages"
         routerLink=""
         routerLinkActive="activebutton"
         ariaCurrentWhenActive="page">
          <li>
            <img src="../assets/skills.svg" alt="skills icon">
            <a routerLink="/skills">Skills</a>
          </li>
      </a>
      <a class="navbar-pages"
         routerLink=""
         routerLinkActive="activebutton"
         ariaCurrentWhenActive="page">
          <li>
            <img src="../assets/projects.svg" alt="projects icon">
            <a routerLink="/projects">Projects</a>
          </li>
      </a>
      <a class="navbar-pages"
         routerLink=""
         routerLinkActive="activebutton"
         ariaCurrentWhenActive="page">
          <li>
            <img src="../assets/contacts.svg" alt="contact icon">
            <a routerLink="/contact">Contact</a>
          </li>
      </a>  
    </ul>
  </nav>
</header>
<section class="main-section">
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        <section class="top-section">
            <div class="contact">
                <p>Tél : <a href="tel:0779479151">07.79.47.91.51</a></p>
                <p>Email : <a href="mailto:huonroland91@gmail.com">huonroland91@gmail.com</a></p>
            </div>
            <div class="social-network">
                <h5>Social networks</h5>
                <div class="social-network-img">
                    <a href="https://www.linkedin.com/in/rolandhuon/" target="_blank">
                        <img src="../assets/linkedin.svg" alt="linkedin icon">
                    </a>
                    <a href="https://github.com/Roland-HUON" target="_blank">
                        <img src="../assets/github.svg" alt="github icon">
                    </a>
                </div>
            </div>
        </section>
        <section class="bottom-section">
            <p>© 2024 Roland HUON. All right reserved.</p>
        </section>
    </footer>
</section>