<!--The content below is only a placeholder and can be replaced.-->
<header>
    <nav>
        <ul>
            <li>
                <a href="./pages/home/home.component.html">Home</a>
                <a href="./pages/about/about.component.html">About</a>
                <a href="./pages/skills/skills.component.html">Skills</a>
                <a href="./pages/projetcs/projects.component.html">Projects</a>
                <a href="./pages/contact/contact.component.html">Contact</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <p>© 2024 Roland HUON. All right reserved.</p>
    <p>Powered by Angular</p>
</footer>